openai
langchain-openai
tiktoken
langchain-chroma
langchain
langchain-community
GitPython
chromadb
python-dotenv
tree_sitter
tree_sitter_languages
jupyter
langgraph
bs4
sentence-transformers==2.2.2
instructorembedding
duckduckgo-search
esprima
grandalf